/* --- From layout: START--- */

ul#user_nav li a:hover, figure.logo, aside.alsoby li a:hover, figure.kudo.complete div.filling {
    background-color: #f02311;
}
section.preview header#begin h2, nav.pagination span.next a, nav.pagination span.prev a, aside.read_next a:hover h3, aside.read_next a:hover h4 {
    color: #f02311;
}
ul#user_nav li a:hover, nav.pagination span.next a, nav.pagination span.prev a, aside.read_next a:hover h3, blockquote {
    border-color: #f02311;
}
aside.read_next a:hover span.arrow_down {
    border-top-color: #f02311;
}


::-moz-selection {
    background: #f02311;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #f02311;
    color: #fff;
    text-shadow: none;
}
/* --- From layout: END --- */


header#begin {
    border-top: 1px solid #E2E2E2;
}
header#begin:first-child{
    border-top: 0;
}
pre, pre.prettyprint {
    border: 0!important;
    padding: 0!important;
}

/* Account for not having illegal <p> in sidebar <h3>*/
header#sidebar h3 {
    color: #4D4D4D;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 20px;
    margin-top: 20px;
}