.gist .gist-file  {
    margin-left: -50px;
    border-left:0;
    border-right:0;
}

.gist .gist-file .gist-data .line-numbers {
    width:27px;
}


@media all and (max-width:750px) {
    .gist .gist-file {
        margin-left: -60px;
        margin-right: -60px;
    }
}
@media all and (max-width:560px) {
    .gist .gist-file {
        margin-left: -15px;
        margin-right: -10px;
    }
    body section#river article pre code {
        margin: 0;
        padding-left: 25px;
        margin-left: -15px;
        width: 100%;
        padding-right: 0;
    }

}
article .gist a {
    border: 0;
}
.gist .gist-file .gist-data {
    font-size: 13px;
}

.highlight code {
    /*background: #272728 !important;*/
}